<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head} , ~{::main})}">

<head th:replace="fragments/head :: head(~{})">
<body>

<main>

<div class="d-flex justify-content-center">

    <table class="table" border="1" style="width: 60%; margin-top: 10rem">

      <thead>

      <tr>
        <th> Produto</th>
        <th> Valor</th>
        <th>Quantidade</th>
        <th>Total</th>
        <th></th>
        <th></th>
      </tr>
      </thead>


      <tr th:each="i : ${session.venda.itens}">

        <td th:text="${i.produto.nome}"></td>

        <td th:text="${i.produto.valor}"></td>

        <td th:text="${i.qtd}"></td>

        <td th:text="${i.total}"></td>

        <td> <a class="btn btn-danger" onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"
                th:href="@{/vendas/delete/{id}(id=${i.produto.id})}">Excluir</a> </td>


      </tr>
      <td> <a class="btn btn-primary" type="button" th:href="@{/vendas/save}" >Finalizar vendar</a> </td>


    </table>



</div>
</main>
<script>
  document.title = "Carrinho"
</script>

</body>

</html>