<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head}"></head>
<body>

<nav th:replace="~{fragments/header::header}"></nav>

<div class="d-flex justify-content-center" >
  <table class="table" border="1" style="width: 60%; margin-top: 10rem">
    <thead>
    <tr>
      <th>Produto</th>
      <th>Quantidade</th>
      <th>Valor unitário</th>
      <th>Total</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="item : ${venda.getItens()}">
      <td th:text="${item.produto.nome}"></td>
      <td th:text="${item.qtd}"></td>
      <td th:text="${item.produto.valor}"></td>
      <td th:text="${item.total}"></td>
    </tr>
    </tbody>
  </table>

</div>

<footer th:replace="~{fragments/footer::footer}"></footer>

<script>
  document.title = "Detalhes da venda"
</script>
</body>
</html>
