<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head} , ~{::main})}">

<head th:replace="fragments/head :: head(~{})">
<body>


<main>

<div class="d-flex justify-content-center">

  <table class="table" border="1" style="width: 60%;margin-top: 10rem">
    <thead>
    <tr>
      <th>Id</th>
      <th>nome</th>
      <th>Telefone</th>
      <th>E-mail</th>
      <th>Data</th>
      <th>Total</th>
      <th></th>
    </tr>
    </thead>

    <tr th:each="v : ${vendas}">
      <td th:text="${v.id}"></td>
      <td th:text="${v.pessoa.getNome()}"></td>
      <td th:text="${v.pessoa.telefone}"></td>
      <td th:text="${v.pessoa.email}"></td>
      <td th:text="${v.date}"> </td>
      <td th:text="${v.total()}"></td>
      <td><a  class="btn btn-primary text-light" type="button"  th:href="@{/vendas/itens/{id}(id=${v.id})}"> Detalhes</a> </td>

    </tr>

  </table>

</div>

</main>


<script>
  document.title = "Lista de vendas"
</script>
</body>
</html>