<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head}"></head>
<body>

<nav th:replace="~{fragments/header::header}"></nav>

<div class="container">
  <h1>FORM</h1>
  <form th:action="${produto.id == null} ? @{/produtos/save} : @{/produtos/update}" th:object="${produto}" method="post">
    <input type="hidden" th:field="*{id}" >
    <input type="text" th:field="*{nome}"  placeholder="Nome">
    <input type="text" th:field="*{valor}" placeholder="valor">

    <input type="submit" value="Enviar">
  </form>

  <button> <a th:href="@{/pessoas/list}"> Voltar</a> </button>

</div>
<footer th:replace="~{fragments/footer::footer}"></footer>
</body>
</html>
