<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head::head}"></head>
<body>

<nav th:replace="~{fragments/header::header}"></nav>

<div class="container d-flex flex-column justify-content-center" style="width: 100%; margin-top: 10rem" >
  <h1>Cadastro de produto</h1>
  <form th:action="${produto.id == null} ? @{/produtos/save} : @{/produtos/update}" th:object="${produto}" method="post">
    <input class="form-control" type="hidden" th:field="*{id}" >

    <div class="mb-3">
      <label class="form-label">Nome do produto</label>
      <input class="form-control" type="text" th:field="*{nome}"  placeholder="Nome">
    </div>

    <div class="mb-3">
      <label class="form-label">Valor do produto</label>
      <input class="form-control" type="text" th:field="*{valor}" placeholder="valor">
    </div>
    <input class="btn btn-primary" type="submit" value="Enviar">
  </form>



</div>
<footer th:replace="~{fragments/footer::footer}"></footer>
</body>
</html>
