<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head} , ~{::main})}">

<head th:replace="fragments/head :: head(~{})">

<body>



<!--<div>-->
<!--  <h1>Buscar</h1>-->
<!--  <form th:action="@{/produtos/search}"  method="get">-->
<!--    <input type="text" th:name="id">-->
<!--    <input type="submit" value="Enviar">-->
<!--  </form>-->
<!--</div>-->

<main>

<div class="d-flex justify-content-center" >
<table class="table" border="1" style="width: 60%; margin-top: 10rem">
  <thead>
  <tr>
    <th>Id</th>
    <th>Nome</th>
    <th>Valor</th>
    <th> </th>
    <th> </th>
  </tr>
  </thead>
  <tr th:each="p : ${produtos}">
    <td th:text="${p.id}"> </td>
    <td th:text="${p.nome}"> </td>
    <td th:text="${p.valor}"></td>

    <td> <a class="btn btn-info text-light" th:href="@{/produtos/edit/{id} (id=${p.id})}">Editar</a> </td>
    <td> <a class="btn btn-danger" onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"  th:href="@{/produtos/remove/{id}(id=${p.id})}">Excluir</a> </td>

  </tr>

</table>
</div>



</main>


<script>
  document.title = "Lista de produtos"
</script>
</body>
</html>