<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head} , ~{::main})}">

<head th:replace="fragments/head :: head(~{})">
<body>

<main>

  <div class="d-flex justify-content-center">

    <table class="table" border="1" style="width: 60%;margin-top: 10rem">
      <thead>
      <tr>
        <th>nome</th>
        <th>cpf</th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <tr th:each="pf : ${pessoaFisica}">
        <td th:text="${pf.nome}"></td>
        <td th:text="${pf.cpf}"> </td>
        <td th:text="${pf.email}"></td>
        <td th:text="${pf.telefone}"></td>
        <td th:text="${pf.endereco}"></td>
        <td> <a class="btn btn-info text-light" th:href="@{/pessoaF/edit/{id} (id=${pf.id})}">Editar</a> </td>
        <td> <a class="btn btn-danger" onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"  th:href="@{/pessoaF/remove/{id}(id=${pf.id})}">Excluir</a> </td>

      </tr>

    </table>

  </div>

</main>


<script>
  document.title = "Lista de pessoa fisica"
</script>
</body>
</html>